* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap; 
    background-color: azure;
    font-family: sans-serif;
    margin: 0
}

.notes {
    background-color: burlywood;
    margin: 20;
    height: 400px;
    width:  400px; 
}

.notes .tools {
    background-color: crimson;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.notes .tools button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
}